<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ProductList</title>
    <meta charset="utf-8"></meta>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Basic Table</h2>
    <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>

   Cart: <a href="/cart" th:text="${cartCount}"></a>
    <table class="table">
        <thead>
        <tr >
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${productList}">
            <td><p th:text="${product.name}"></p></td>
            <td><p th:text="${product.description}"></p></td>
            <td><p th:text="${product.price}"></p></td>
            <td><a th:href="@{'/detail/' + ${product.id}}">Detail</a> <a th:href="@{'/addcart/' + ${product.id}}">AddCart</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

